<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Order Confirmation</title>
</head>
<body>
    <header>
      <div class="container">
        <h1>Welcome to the Juice Shop</h1>
        <p>Name: Youssef Lemfeddel</p>
        <p>Number: 8867203</p>
      </div>
    </header>
  <h1>Order Confirmation</h1>
  <p>Thank you, <%= order.name %>, for placing your order!</p>
  <h2>Order Details:</h2>
  <ul>
    <% for (const juice of order.juices) { %>
      <li><%= juice %></li>
    <% } %>
  </ul>
  <p>Sub Total: $<%= calculateSubTotal(order.juices) %></p>
  <p>Quebec Tax (14.975%): $<%= calculateTax(order.juices) %></p>
  <p>Total Cost: $<%= calculateTotal(order.juices) %></p>
  <footer>
    <div class="container">
      &copy; 2023 Juice Shop by Youssef Lemfeddel
    </div>
  </footer>
</body>
</html>
